body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#headerContain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  box-shadow: 0px 1px 5px whitesmoke;
}
/* ---- HOME VIEW ---- */

#mainContainer {
  margin: 10vh 20vw;
  font-family: sans-serif;
  background-color: white;
  box-shadow: 4px 5px 8px #525252;
  padding: 20px;
}

#mainContainer h1,
#mainContainer h2 {
  color: #28bbbb;
  text-align: center;
}

#mainContainer p {
  text-align: center;
  font-weight: 300rem;
  font-size: 1rem;
}

.btnFooter{
  display: flex;
  justify-content: space-evenly;
}

.annonceContain{
  display: flex;
  justify-content: center;
  margin: 15px 0;
  box-shadow: 0px 1px 5px rgb(240, 239, 239);
}

.imgAnnonce img{
  width: 300px;
}

.elementAnnonce{
  width: 450px;
}

/* ---- NAV BAR ---- */
.titleNavBar h1 {
  margin: 0px;
  color: whitesmoke;
}

.imgLogo {
  width: 55px;
  margin: 0 10px;
}

.imgLogo img:hover {
  transform: rotate(-15deg);
}

#navBarContain ul {
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}

#navBarContain ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 110px;
  height: 60px;
  background-color: whitesmoke;
}

#navBarContain ul li a {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding-top: 30%;
  display: block;
  width: 110px;
  height: 60px;
}

#navBarContain ul li:hover {
  background-color: #2b54db;
}
#navBarContain ul li a:hover {
  color: whitesmoke;
}

/* ---- Page connection ---- */

.logContain{
  display: flex;
  justify-content: space-around;
}

#connexionInscriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connexionInscriptionContainer a input {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  color: #28bbbb;
  font-weight: 600;
}

#connexionInscriptionContainer a input:hover {
  background-color: #2b54db;
  color: whitesmoke;
  transition: 0.8s;
  border-radius: 10px;
}



/* ---- Annonces ---- */

.annonces form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.annonces form input{
    width: 300px;
    height: 25px;
    margin-bottom: 15px;
}

.annonces form textarea {
  width: 300px;
  height: 150px;
  margin-bottom: 15px;
}

.annonces form button {
  width: 150px;
  height: 40px;
  margin: 30px auto;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  color: #28bbbb;
  font-weight: 600;
}

.annonces form button:hover {
  background-color: #2b54db;
  color: whitesmoke;
  transition: 0.8s;
  border-radius: 10px;
}

/* ---- Inscription ---- */

#mainContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

#mainContainer form input{
  width: 300px;
  height: 25px;
  margin-bottom: 15px;
}

#mainContainer form button {
width: 150px;
height: 40px;
margin: 30px auto;
border: none;
border-radius: 5px;
font-size: 17px;
color: #28bbbb;
font-weight: 600;
}

#mainContainer form button:hover {
background-color: #2b54db;
color: whitesmoke;
transition: 0.8s;
border-radius: 10px;
}